/* Fonts */

@import url("fonts.css");



body{
	background-color: #f4f4f4;
	width: 100%;
	color: #393939;
	font-family: ProximaNova-Regular;
	font-size: 14px;
	margin:0;
}
section,header{
	max-width: 980px;
	margin:auto;
}
section{
	background-color: #ffffff;
	margin-bottom: 100px;
}
figure{
	padding: 0;
	margin:0;
}
header{
	text-align: center;
	height: 100px;
	line-height: 100px;
}
.main {
    padding: 3% 3% 0 3%;
}
h1{
	font-family: ProximaNova-Light;
	font-size: 32px;
	text-align: center;
}
h2{
	font-family: ProximaNova-Light;
	font-size: 24px;
	text-align: center;
}
.current-plan {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.current-plan > div{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.choose-plan, .details-plan {
    margin: auto;
    padding: 0 3% 0 3%;
}
.choose-plan h2{
    padding: 20px 0;
}
.current-plan .first-column{
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.current-plan .second-column{
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.current-plan .second-column{
	color: #888888;
}
.current-plan .second-column span{
	color: #ff0066;
}
.current-plan .second-column a{
	text-decoration: none;
	border-bottom: dotted 1px #888888;
	color: #888888;
}
.text{
	font-family: ProximaNova-Regular;
	font-size: 16px;
}
.text-semibold{
	font-family: ProximaNova-Semibold;
	font-size: 24px;
}
.text span{
	font-family: ProximaNova-Bold;
}

.carousel {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.carousel > div{
	width: 31%;
	height: 340px;
	border: 2px solid #393939;
}
.carousel .startup{
	border-right: 0;
}
.carousel .enterprise{
	border-left: 0;
}
.carousel .item.business.active{
	width: 38%;
	height: 374px;
	background-color: #393939;
	color: #ffffff;
}

.carousel h1,.carousel .total, .carousel .business .text-semibold{
	font-family: ProximaNova-Semibold;
	font-size: 32px;
	margin: 30px auto 0 auto;
}
.carousel .startup .text-semibold.active{
	font-size: 32px;
}
.carousel .startup .text-semibold{
	font-size: 14px;
}
.carousel .total {
	width: 80px;
	height: 80px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
}
.carousel .users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.carousel .users .total{
	margin: 30px auto 0 auto;
}
.carousel .business .total{
	border-top: 1px solid #888888;
	border-bottom: 0 solid #b7b7b7;
}
.carousel ul{
	margin:0;
	padding:0;
}
.carousel ul li{
	list-style: none;
}
.carousel .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;	
}
.carousel .choose{
	width: 100%;
	font-size: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	text-align: center;
	margin-top: 30px;
}
.carousel .choose a{
	width: 210px;
	height: 34px;
	display: block;
	text-decoration: none;
	background-color: #393939;
	color: #ffffff;
	border-radius: 4px;
	line-height: 34px;
}

.carousel .slidecontainer {
	width: 80%;
	margin: auto;
}

.carousel .slider {
	-webkit-appearance: none;
	width: 100%;
	height: 8px;
	border-radius: 4px;   
	background: #4c4c4c;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.carousel .slider:hover {
    opacity: 1; 
}
.carousel .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	border-radius: 50%; 
	background: #d8d8d8;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #d8d8d8;
	cursor: pointer;
}
.carousel .slider .options{
	line-height: 20px;
} 
.carousel .business .choose a{
	background-color: #ff0066;
}
.carousel .business .choose {
    margin-top: 53px;
}
.carousel .enterprise .choose {
    margin-top: 10px;
}
.carousel .enterprise .choose.learn {
    margin-top: 57px;
}
.carousel .enterprise .choose.learn a {
    background-color: #ffffff;
    border: 2px solid #393939;
    color: #393939;
}
.details-plan{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	
}
.questions{
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	width: 100%;
	margin:auto;
	text-align: center;
	margin: 30px 0;
}
.questions a{
	text-decoration: none;
	font-family: ProximaNova-Bold;
    color: #393939;
    border-bottom: 1px dotted #393939;
}
.details-plan .column{
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;	
	text-align: center;
	padding: 0 20px;
	margin-bottom: 30px;
	margin-top: 30px;

}
.details-plan .column .text-semibold{
	font-size: 14px;
}
.details-plan .column.second {
	border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;

}
.details-plan .column .text{
	font-size: 14px;
	color: #888888;
}
.details-plan .column .text-color{
	font-size: 16px;
	color: #ff0066;
	font-family: ProximaNova-Bold;
	text-transform: uppercase;
	margin-top: 45px;
}
.details-plan .column ul{
	margin: 0;
	padding: 20px 0;
}
.details-plan .column ul li{
	list-style: none;
	padding: 20px 0;
	font-size: 16px;
	font-family: ProximaNova-Bold;
	color: #393939;
}
.details-plan .detail{
	height: 100px;
}
.details-plan  hr{
	width: 25%;
}

.details-plan .space .circle {
    width: 4px;
    height: 4px;
    background: #f4f4f4;
    border-radius: 4px;
    display: block;
    text-align: center;
}
.details-plan .space {
    height: 6px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logoMobile{
	display: none;
}



@media only screen and (min-width : 320px) and (max-width: 520px){
	.logoMobile{
		display: flex;
	}
	.logoDesktop{
		display: none;
	}
	.current-plan, .carousel, .details-plan{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
	}
	.current-plan .first-column, .current-plan .second-column {
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    text-align: center;
	    -webkit-box-align:center;
	        -ms-flex-align:center;
	                -ms-grid-row-align:center;
	    align-items:center;
	}
	.current-plan .first-column {
	    margin-bottom: 20px;
	}
	header{
		height: 80px;
		line-height: inherit;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.carousel{
		border: 2px solid #393939;
	}
	.carousel > div {
	    width: 100%;
	    border: 0;
	}
	.carousel .item.business.active{
		width: 100%;
		border: 2px solid #393939;
	}
	.details-plan .column.second{
		border:0;
	}
	.questions {
	    height: 60px;
	    font-size: 14px;
	    line-height: 24px;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    width: 80%;
	    text-align: center;
	    margin: 30px auto;
	}
	.details-plan .column ul li {
	    padding: 15px 0;
	}
	.choose-plan, .details-plan {
	    padding: 0 3% 0 3%;
	    box-sizing: border-box;
	}
	h1 {
	    font-size: 28px;
	}
}


@media only screen and (min-width : 521px) and (max-width : 768px) {
	.carousel h1, .carousel .total, .carousel .startup .text-semibold, .carousel .business .text-semibold {
	    font-size: 22px;
	}
	.carousel .choose a {
	    width: 130px;
	}
	.carousel .choose {
	    width: 100%;
	    font-size: 12px;
	}
	.details-plan .column {
	    padding: 0 5px;
	}
	.details-plan .detail {
	    height: 130px;
	}
	.current-plan {
	    width: 90%;
	}
	.current-plan .second-column{
	    text-align: right;
	}	

}

